html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, simsun, sans-serif;
  font-size: 12px;
}

.cac-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

$leftWidth: 208px;
$minWidth: 1200px;

.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  min-width: $minWidth;
}

.top {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 3;
  background-color: #fff;
  border-bottom: 1px solid #dedede;

  .head-container {
    display: flex;
    align-items: center;
    height: 50px;

    .logo {
      background: url(./img/logo.png) no-repeat;
      width: 140px;
      height: 32px;
      margin-left: 30px;
    }
  }
}

.middle {
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  bottom: 0px;

  .user-panel {
    box-sizing: border-box;
    height: 50px;
    width: $leftWidth;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
  }

  .left {
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    width: $leftWidth;
    background-color: #f8f9fa;
    border-right: 1px solid #dedede;

    .quick-navigation {
      width: 100%;
      overflow-y: auto;
      font-size: 14px;
      flex-grow: 1;

      .quick-nav {
        height: 40px;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-out;

        &:hover {
          background-color: #ebebeb;
          color: #ff6a00;
        }

        &.quick-nav-item {
          &.active {
            background-color: #ebebeb;
            color: #ff6a00;
          }
        }

        .cac-icon {
          margin-right: 10px;
        }
      }

      a {
        color: #333;
        text-decoration: none;
        line-height: 1;
        cursor: pointer;
        user-select: none;
      }

      .quick-nav-group-list {
        &.open {
        }

        &.close {
          height: 0px;
          overflow: hidden;
        }
      }
    }
  }

  .top-panel {
    box-sizing: border-box;
    position: absolute;
    left: $leftWidth;
    width: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 50px;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    z-index: 1;
  }

  .right {
    box-sizing: border-box;
    position: absolute;
    left: $leftWidth;
    width: auto;
    top: 50px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;

    min-height: 50px;
    background-color: #ffffff;

    .container {
      .node-list {
        padding-top: 10px;

        .node-item {
          float: left;
          width: 150px;
          height: 120px;
          border: 2px solid #e8e8e8;
          margin-left: 10px;
          transition: border 1s;

          &:hover{
            border: 2px solid #59AEE8;
          }

          .node-item-header {
            height: 24px;
            border-bottom: 1px solid #e8e8e8;
            background-color: #f1f1f1;
            display: flex;

            .header-left {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;

              .computer-active {
                color: green;
                animation: computer-active-keyframe 2s infinite alternate;
              }

              @keyframes computer-active-keyframe {
                from {
                  color: #dddddd;
                }
                to {
                  color: green;
                }
              }
            }

            .header-center {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-grow: 1;
              font-weight: bold;
            }

            .header-right {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .node-item-bodyer {
            .panel-pair {
              padding: 5px 0;
              border-bottom: 1px dashed #efefef;
              &:last-child {
                border-bottom: 0px dashed #efefef;
              }

              .panel-key {
                display: inline-block;
                width: 20%;
                text-align: center;
                font-weight: bold;                
              }
              .panel-value {
                display: inline-block;     
                width: 80%;           
                text-align: center;          
              }
            }
          }
        }
      }
    }
  }
}
