.kt-ui {
  box-sizing: border-box;
  color: #434343;
  font-family: "Microsoft YaHei", 微软雅黑, verdana, Arial, sans-serif;
  display: inline-block;
  padding: 2px;

  .kt-border {
    box-sizing: border-box;
    display: block;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    width: 100%;

    ::-ms-clear,
    ::-ms-reveal {
      display: none;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #999999 !important;
    }

    input:-moz-placeholder,
    textarea:-moz-placeholder {
      color: #999999 !important;
    }

    input::-moz-placeholder,
    textarea::-moz-placeholder {
      color: #999999 !important;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      color: #999999 !important;
    }

    .kt-input {
      box-sizing: border-box;
      border: 0px solid #ffffff;
      z-index: 2;
      width: 100%;
      background-color: transparent;
      border-radius: 2px;
      outline: none;
      box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    }

    &.kt-active {
      border: 1px solid #0386dc;
      box-shadow: 0 0 5px #0386dc;
    }
  }

  &.kt-size-small {
    .kt-input {
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      padding: 0 6px;
    }
  }

  &.kt-size-default {
    .kt-input {
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      padding: 0 6px;
    }
  }

  &.kt-size-large {
    .kt-input {
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      padding: 0 6px;
    }
  }

  &.kt-layer {
    position: absolute;
    min-height: 20px;
    max-width: 450px;
    background-color: #ffffff;
    box-shadow: 1px 1px 6px #b0b0b0;
    z-index: 6;
    border: 1px solid #d9d9d9;
    margin: 5px;
    display: none;
  }

  .kt-datepicker-layer {
    position: relative;
    width: 272px;

    .header {
      border-bottom: 1px solid #e9e9e9;
      height: 28px;
    }
    .bodyer {
      height: 175px;
    }
    .footer {
      border-top: 1px solid #e9e9e9;
      height: 30px;
    }
  }
}
