.kt-ui {
  box-sizing: border-box;
  color: #434343;
  font-family: "Microsoft YaHei", 微软雅黑, verdana, Arial, sans-serif;
  display: inline-block;
  padding: 2px;

  .kt-border {
    position: relative;
    box-sizing: border-box;
    display: flex;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 6px;

    ::-ms-clear,
    ::-ms-reveal {
      display: none;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #999999 !important;
    }

    input:-moz-placeholder,
    textarea:-moz-placeholder {
      color: #999999 !important;
    }

    input::-moz-placeholder,
    textarea::-moz-placeholder {
      color: #999999 !important;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      color: #999999 !important;
    }

    .kt-input {
      position: relative;
      box-sizing: border-box;
      border: 0px solid #ffffff;
      z-index: 2;
      width: 100%;
      color: #666666;
      background-color: transparent;
      border-radius: 2px;
      padding: 0;
      outline: none;
      box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);
      font-family: "Microsoft YaHei", 微软雅黑, verdana, Arial, sans-serif;
    }

    &.kt-active {
      border: 1px solid #0386dc;
      box-shadow: 0 0 5px #0386dc;
    }

    .kt-input-front {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;

      .kt-front-text {
        color: #999;
        line-height: 1;
      }
    }

    .kt-input-end {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .kt-icon-text {
        color: #aaaaaa;
      }

      .kt-icon-datepicker {
        color: #bcbcbc;
      }
    }
  }

  &.kt-size-small {
    .kt-input {
      height: 24px;
      line-height: 24px;
      font-size: 12px;
    }

    .kt-input-front {
      height: 24px;

      .kt-front-text {
        font-size: 12px;
      }
    }

    .kt-input-end {
      height: 24px;

      .kt-icon-text {
        font-size: 12px;
        line-height: 1;
        margin-right: 5px;
      }

      .kt-icon-datepicker {
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }

  &.kt-size-default {
    .kt-input {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }

    .kt-input-front {
      height: 30px;

      .kt-front-text {
        font-size: 14px;
      }
    }

    .kt-input-end {
      height: 30px;

      .kt-icon-text {
        font-size: 14px;
        line-height: 1;
        margin-right: 5px;
      }

      .kt-icon-datepicker {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }

  &.kt-size-large {
    .kt-input {
      height: 36px;
      line-height: 36px;
      font-size: 16px;
    }

    .kt-input-front {
      height: 36px;

      .kt-front-text {
        font-size: 16px;
      }
    }

    .kt-input-end {
      height: 36px;

      .kt-icon-text {
        font-size: 16px;
        line-height: 1;
        margin-right: 5px;
      }

      .kt-icon-datepicker {
        font-size: 18px;
        margin-right: 5px;
      }
    }
  }

  &.kt-layer {
    position: absolute;
    min-height: 20px;
    max-width: 450px;
    background-color: #ffffff;
    box-shadow: 1px 1px 6px #b0b0b0;
    z-index: 6;
    border: 1px solid #d9d9d9;
    margin: 5px;
    display: none;
  }

  .kt-datepicker-layer {
    position: relative;
    width: 272px;
    font-family: Microsoft YaHei;
    color: #666666;

    .header {
      border-bottom: 1px solid #e9e9e9;
      height: 28px;
      display: flex;
      align-items: center;

      .btn-prev,
      .btn-next {
        color: #999999;
        font-size: 12px;

        &:hover {
          color: #221815;
        }

        &:active {
          color: #999999;
        }
      }

      .left-item,
      .right-item {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .center-item {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .btn-year,
      .btn-month {
        color: #666666;
        font-size: 12px;
        margin-right: 4px;
        cursor: pointer;
        user-select: none;

        &:hover {
          color: #221815;
        }

        &:active {
          color: #666666;
        }
      }
    }
    .bodyer {
      height: 175px;
      padding: 0 3px;

      .cell {
        display: flex;
        width: 38px;
        border-radius: 2px;
        align-items: center;
        justify-content: center;

        .day {
          display: flex;
          width: 100%;
          height: 20px;
          line-height: 20px;
          user-select: none;
          align-items: center;
          justify-content: center;

          span {
            display: flex;
            box-sizing: border-box;
            width: 20px;
            height: 18px;
            align-items: center;
            justify-content: center;
          }

          &.not-this-month-day {
            color: #dddddd;
            background-color: #f7f7f7;
            span {
              &:hover {
                background: #e7f3f0;
              }
            }
          }

          &.not-choice-day {
            color: #dddddd;
          }

          &.current-day {
            span {
              color: #14906d;
              font-weight: bold;
            }
          }

          &.selected-day {
            span {
              border: 1px solid #14906d;
            }
          }

          &.can-choice-day {
            span {
              &:hover {
                cursor: pointer;
                background: #e7f3f0;
              }
            }
          }
        }
      }

      .week {
        overflow: hidden;
        padding: 2px 0;
        .cell {
          float: left;
        }
      }

      .date {
        position: relative;
        .cell {
          display: inline-block;
          margin-top: 4px;
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      border-top: 1px solid #e9e9e9;
      height: 30px;

      .center-item {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .btn-today {
        color: #221815;
        cursor: pointer;
        user-select: none;

        &:hover {
          color: #666666;
        }
      }
    }
    .select-year,
    .select-month {
      transition: opacity 0.4s ease;
      display: none;
      opacity: 0;
      user-select: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;

      .select-header {
        //display: flex;        
        // justify-content: space-between;
        height: 28px;
        line-height: 28px;
        border-bottom: 1px solid #e8e8e8;
        text-align: center;

        .prev-button,
        .next-button {
          flex-grow: 0;
          flex-shrink: 0;
          color: rgba(0, 0, 0, 0.45);
          transition: color 0.3s ease;

          &:hover {
            color: rgba(0, 0, 0, 0.65);
          }
        }
        .prev-button{
          float: left;
          height: 28px;
          margin-left: 5px;
        }
        .next-button{
          float: right;
          height: 28px;
          margin-right: 5px;
        }

        .center-text {
          text-align: center;
          color: #666666;
          font-size: 12px;
          font-weight: 500;

          &:hover {
            color: rgba(0, 0, 0, 0.65);
          }
        }
      }      

      .select-bodyer {
        .year-button {
          float: left;
          width: 90px;
          margin-right: 1px;
          color: rgba(0, 0, 0, 0.65);
          font-size: 14px;
          text-align: center;
          line-height: 48px;

          span {
            display: inline-block;
            font-size: 12px;
            line-height: 24px;
            padding: 0 8px;
            border-radius: 2px;

            &:hover {
              color: #40a9ff;
              background: #e6f7ff;
              cursor: pointer;
            }
          }

          &.selected {
            span {
              background: #1890ff;
              color: #ffffff;
            }
          }

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }

    .select-year {
      z-index: 2;
    }
  }
}

.kt-goto-border {
  box-sizing: content-box;
  position: absolute;
  border-color: transparent;
  border-width: 0px;
  border-style: solid;
  width: 100%;
  display: none;
  z-index: 1007;
  background-color: none;
  transition-property: top, left, width, height;
  transition-duration: 0.4s, 0.4s, 0.4s, 0.4s;
  transition-timing-function: ease, ease, ease, ease;
  will-change: top, left, width, height;

  &.kt-goto-border-left {
    border-left-width: 1px;
  }

  &.kt-goto-border-top {
    border-top-width: 1px;
  }

  &.kt-goto-border-right {
    border-right-width: 1px;
  }

  &.kt-goto-border-bottom {
    border-bottom-width: 1px;
  }
}
